* {
    padding: 0%;
    margin: 0;
}

.banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), 
    url("resources/Banner\ Image.png");
    background-size: 1320px 600px;
    height: 600px;
    margin-top: 20px;
    background-repeat: no-repeat;
    text-align: center;
    font-family: Merriweather;
    color: #fff;
    background-position: center;
    border-radius: 16px;
}

.banner p {
    padding-top: 200px;
    font-size: 32px;
    font-weight: 400;
}

.banner h1 {
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}